<!DOCTYPE html>
<html>
    <title>Index</title>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/project2.js"></script>
    </head>
    <body>  
        <ul id='messages'></ul>
        <input id="myMessage" type="text">
        <button>Send</button>
        
    </body> 
</html>