<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <script src="http://localhost:5000/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="C:/Users/Sadek/Documents/cs50_p2/project2/static/login1.js"></script>
    </head>
    <body>
        <ul id='messages'>
        </ul>
        <input type="text" id="username">
        <button type="button" id="button" onclick='setUsername()'>Login</button>
    </body>
</html>