<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="/static/login.js"></script>
    </head>
    <body>
        <form action = '/' method='post'>
            <input id='login' type="text" placeholder='username' name='username'></br></br>
            <input id='room' type='text' placeholder='room' name = 'room'></br></br> 
            <button type='submit'>Login</button>
        </form>
    </body>
</html>